body{
	background-color: black;
}

.body {
	background-color: #375180;
	font-family:'Spartan', sans-serif;
	height: 100rem;
}

.headerindex {
	display: flex;
	flex-direction: row;
	max-height: 9rem;
	justify-content: space-around;
	background-color: white;
}

.imglogo {
	height: 8rem;
	width: 16rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.imgbarra {
	height: 6rem;
	width: 38rem;
	margin-top: 2.5rem;
}

.mainindex {
	display: flex;
	justify-content: space-around;
	margin-top: 4rem;
}

.barralateralindex {
	display: flex;
	flex-direction: column;
	max-width: 16rem;
}

.fotomike {
	height: 14rem;
	width: 16rem;
	display: flex;
	align-self: center;
	border-style: solid;
	border-color: white;
	border-radius: 0.5rem;
	margin-bottom: -1rem;
}

.textlateral {
	background-color: white;
	border-width: 0.05rem;
	border-style: solid;
	border-color: white;
	border-radius: 0.5rem;
}

.seta {
	height: 1rem;
	width: 1rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

.setamob {
	height: 1rem;
	width: 1rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	display: none;
}

.nomemike {
	text-align: center;
	margin-top: 1rem;
	font-size: 1.6rem;
}

.nomemike2 {
	display: none;
}

.descricaomike {
	text-align: center;
	font-family: 'Noto Serif', serif;
	margin: 0.5rem;
}

.listaindex {
	background-color: white;
	max-width: 42rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-width: 0.05rem;
	border-style: solid;
	border-color: white;
	border-radius: 1rem;
}

.itemindex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 3rem;
}

.imgcateg {
	height: 10rem;
	width: 16rem;
	border-style: solid;
	border-color: black;
	border-radius: 1rem;
	border-width: 0.05rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.textindex {
	display: flex;
	flex-direction: column;
	max-width: 30rem;
	margin-left: 1rem;

}
.categtitle{
	align-self: flex-start;
	font-size: 1.5rem;
	width: 21rem;
	display: flex;
	text-decoration: none;
	color: black;
}

.categtitle:hover {
	color: #002E7D;
}

.listatitle {
	margin-top: 1rem;
	align-self: center;
	font-size: 2.4rem;
	display: flex;
	text-decoration: none;
}

.categtext {
	display: flex;
	margin-left: 0.1em;
	margin-right: 1rem;
	align-self: center;
	font-family: 'Noto Serif', serif;
}

.barralateralcateg {
	display: flex;
	flex-direction: column;
	width: 21rem;
	margin-left: -2.1rem;
	min-height: 32rem;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-radius: 1rem;
	border-width: 0.05rem;
	justify-content: space-around;
	max-height: 32rem;
}

.indicecateg {
	align-self: flex-start;
	font-size: 1.1rem;
	margin-left: 1.2rem;
	margin-top: 0.2rem;
	text-decoration: none;
}

.indicecategpro {
	align-self: flex-start;
	margin-left: 1.2rem;
	margin-top: 0.2rem;
	font-size: 1rem;
	text-decoration: none;
}

.listacateg {
	background-color: white;
	max-width: 38rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-width: 0.05rem;
	border-style: solid;
	border-color: white;
	border-radius: 1rem;
}

.linhalista {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 55rem;
	align-self: center;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: 1rem;
}

.itemcategpro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 3rem;
	align-items: center;
	align-content: center;
	margin: 1rem;
}

.imgcategpro {
	height: 10rem;
	width: 16rem;
	border-style: solid;
	border-color: black;
	border-radius: 1rem;
	border-width: 0.05rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.categprotitle {
	text-align: center;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
	max-width: 16rem;
}

.categprotitle:hover {
	color: #002E7D;
}

.textcategpro {
	display: flex;
	align-self: center;
	margin-left: 1rem;
}

.button {
	background-color: #2E7BFF;
	border-style: solid;
	border-color: #1c87c9;
	border-radius: 0.8rem;
	border-width: 0.1rem;
	color: white;
	align-self: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 1.8rem;
	width: 18rem;
	text-decoration: none;
	align-items: center;
	display: flex;
	cursor: pointer;
	justify-content: center;
}

.button:hover {
	background-color: #6EA3FF;
}


.itemcateg {
	align-self: center;
	text-align: center;
	align-items: center;
}

.linkinicio {
	text-decoration: none;
	color: black;
}

.linkinicio:hover {
	color: #002E7D;
}

.linkinicio2 {
	text-decoration: none;
	color: black;
}

.linkinicio2:hover {
	color: #002E7D;
}

.projtitle {
	margin-top: 1rem;
	align-self: center;
	font-size: 2.2rem;
	display: flex;
	margin: 2rem;
	text-decoration: none;
}

.projeto {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.imgproj {
	height: 20rem;
	width: 26rem;
	border-style: solid;
	border-color: black;
	border-radius: 1rem;
	border-width: 0.05rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.listacateg {
	width: 50rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.projdesc {
	text-align: left;
	width: 26rem;
	margin: 1rem;
	font-size: 1.4rem;
}

.textodescritivo {
	font-family: 'Noto Serif', serif;
}


@media (max-width: 68rem) {

	.body {
		height: 120rem;
	}

	.imgbarra {
		display: none;
	}

	.mainindex {
		flex-direction: column;
		align-items: center;
		height: 0rem;
		justify-content: flex-start;
		margin-top: 0rem;
	}

	.listatitle {
		font-size: 4rem;
	}

	.listaindex {
		max-width: 58rem;
	}

	.categtitle {
		font-size: 3rem;
	}

	.categtext {
		font-size: 2rem;
	}

	.barralateralindex {
		margin-top: 4rem;
		flex-direction: row;
		max-width: 58rem;
		justify-content: space-between;
		width: 58rem;
		margin-bottom: 4rem;
	}

	.fotomike {
		width: 26rem;
		height: 21rem;
	}

	.textlateral {
		width: 28rem;
		height: 24rem;
		max-height: 24rem;
		max-width: 28rem;
	}

	.nomemike {
		display: none;
	}

	.descricaomike {
		font-size: 2.6rem;
		text-align: justify;
	}

	.nomemike2 {
		display: flex;
		text-align: center;
		font-size: 2.2rem;
		align-self: center;
	}

	.mobileindex {
		display: flex;
		flex-direction: column;
		background-color: white;
		border-width: 0.05rem;
		border-style: solid;
		border-color: white;
		border-radius: 0.5rem;
		margin-bottom: 0.05rem;
	}

	.itemcateg {
		display: none;
	}

	.barralateralcateg {
		width: 60rem;
		height: 2rem;
		background-color: #375180;
		border-color: #375180;
		display: flex;
		margin-bottom: -10rem;
	}

	.indicecateg {
		font-size: 3.5rem;
		color: white;
	}

	.linkinicio {
		color: white;
	}

	.linkinicio2 {
		color: white;
	}

	.seta {
		display: none;
	}

	.setamob {
		display: initial;
		width: 4rem;
		height: 2.6rem;
	}

	.listatitle {
		display: none;
	}

	.listacateg {
		max-width: 60rem;
		width: 60rem;
	}

	.categprotitle {
		font-size: 2.5rem;
		max-width: 20rem;
	}

	.imgcategpro {
		height: 18rem;
		width: 20rem;
		margin: 0rem;
	}

	.linhalista {
		width: 58rem;
		flex-direction: row;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.projtitle {
		display: none;
	}

	.indicecategpro {
		color: white;
		font-size: 2.4rem;
	}

	.imgproj {
		width: 48rem;
		max-width: 50rem;
		height: 34rem;
		margin-top: 3rem;
	}

	.projdesc {
		font-size: 4rem;
		width: 48rem;
	}

	.textodescritivo {
		font-size: 2rem;
	}
}