.barra {
	width: 500px;
	height: 125px;
	display: inline;
	margin-left: 500px;
}

.logo {
	width: 300px;
	height: 125px;
	display: inline;
	margin-left: 50px;

}
.header {
	background-color: white;
	display: block;
	border-bottom: 3px;
	border-color: black;
	border-style: solid;

}
.lateral {
	background-color: white;
	display: block;
	margin-top: 100px;
	margin-left: 50px;

}
.lista {
	margin-left: 900px;
	margin-top: -200px;
}

.titulo_projetos {

	display: absolute;
	margin-left: 750px;
	margin-top: -750px;
}

.display_projeto_1_3{
	display: absolute;
	margin-left: 150px;
	margin-top: 150px;

}

.display_projeto_2_4{
	display: absolute;
	margin-left: 550px;
	margin-top: 150px;

}

.foto {
	display: inline;
	height: 200px;
	width: 280px;
}
.nome {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 40px;
}
.descricao {
	margin-left: 25px;
	display: block;
}
.body {
	display: block;
	background-color: white;
}
.imgitem {
	height: 200px;
	width: 280px;
}
.item {
	margin-bottom: 50px;
}
.categ {
	margin-bottom: 20px;

}


.img-pj{
	position: absolute;
	 left: 820px;
	 top: 150px;


}

.descricao-pj{
	position: absolute;
	left: 820px;
	top: 450px;
}

.equipe-pj{
	position: absolute;
	left: 820px;
	top: 550px;
}

.recursos-pj{
	position: absolute;
	left: 820px;
	top: 650px;
}
}